<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="video">
    <div class="container">
        <div class="row">
            <div class="scope-head">
                <h1 class="scope-head-h1">Acknowledgements</h1>
            </div>
            <div class="scope-content acknowledgements">
                <div class="col-xs-12 meta-analysis-left risk-2 p-t-20">
                    <ul>
                        <li class="f-18">Gordon Center for Research in Medical Education</li>
                        <li class="f-18">University of Miami, Clinical and Translational Science Institute</li>
                        <li class="f-18">University of Miami, School of Communication</li>
                        <li class="f-18">Florida Firefighters Safety and Health Collaborative</li>
                        <li class="f-18">Firefighter Cancer Support Network</li>
                        <li class="f-18">Florida State Fire Marshal</li>
                        <li class="f-18">Florida Fire Departments</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="scope-head">
                <h1 class="scope-head-h1">Additional Resources
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 5</a></p>
                </h1>
            </div>
            <div class="scope-content acknowledgements">
                <div class="col-xs-12 meta-analysis-left risk-2 p-t-20">
                    <ul>
                        <li class="f-18">Firefighter Cancer Initiative</li>
                        <li class="f-18">International Association of Firefighters</li>
                        <li class="f-18">Florida Firefighters Safety and Health Collaborative</li>
                        <li class="f-18">Firefighter Cancer Support Network</li>
                        <li class="f-18">National Fire Protection Association</li>
                    </ul>
                </div>
            </div>
        </div> -->

    </div>
</div>