<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="primary-body meta-analysis">
    <div class="container">
        <div class="row min-h">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Meta-analysis
                    <p class="module"><a routerLink="/patient/module-1/intro">Module 1</a></p>
                </h1>
                <p class="sub-title">University of Cincinnati Cancer Studies 2006</p>
            </div>
            <div class="scope-content">
                <div class="col-md-6 col-sm-12 meta-analysis-left">
                    <p>Compared to the general population, firefighters are at a much higher risk for the following cancers:</p>
                    <ul>
                        <li>Testicular cancer (<span class="orange">2.02</span> times greater risk)</li>
                        <li>Multiple myeloma (<span class="orange">1.53</span> times greater risk)</li>
                        <li>Non-Hodgkin’s lymphoma (<span class="orange">1.51</span> times greater risk)</li>
                        <li>Skin cancer (<span class="orange">1.39</span> times greater risk)</li>
                        <li>Prostate cancer (<span class="orange">1.28</span> times greater risk)</li>
                        <li>Malignant melanoma (<span class="orange">1.31</span> times great risk)</li>
                        <li>Brain cancer (<span class="orange">1.31</span> times greater risk)</li>
                        <li>Colon cancer (<span class="orange">1.21</span> times great risk)</li>
                        <li>Leukemia (<span class="orange">1.14</span> times greater risk)</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                    <ul class="scope-right-side">
                        <li>
                            <div class="meta-analysis-right-side">
                                <h4>At a greater risk of cancer</h4>
                                <p>Probabilities of certain cancers in firefighters, over the instances found in the general population</p>
                                <br>
                                <img src="assets/images/module-1/graph.png">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <app-previous-next-buttons></app-previous-next-buttons>
    </div>
</div>