<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="container-fluid thank-you">
    <div class="introduction">
        <div class="col-md-4 col-sm-4">
            <img src="assets/images/module-5/thankyou.png" alt="Thank you" />
        </div>
        <div class="col-md-8 col-sm-8 intro-right">
            <h1 class="text-white">THANK YOU</h1>
            <p class="m-b-40 m-t-40"><img src="assets/images/module-5/sylvester.png" alt="Sylvester" /></p>
            <p><img src="assets/images/module-5/fci.png" alt="FCI" /></p>
            <h5 class="font-16 text-white">RESEARCH / EDUCATION / PREVENTION</h5>
        </div>
    </div>
</div>