<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="primary-body reducing-risk">
    <div class="container">
        <div class="row min-h" *ngIf="module=='module-3' && index=='1'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Reducing Risk: At the scene
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/module-3/at-scene.png" width="100%" alt="at-scene" />
                </div>
                <div class="col-md-5 col-sm-12 meta-analysis-left risk regular-p">
                    <p>Wear PPE and SCBA during all phases of firefighting and overhaul
                    </p>
                    <p> Set up rehab in cold zone away from dirty gear</p>
                    <p>Complete post fire on scene gross decon </p>
                    <p> Clean exposed areas with wipes before eating/drinking or after handling contaminated gear</p>
                    <ul>
                        <li>Hands, neck, face and head</li>
                        <li>Do not cross contaminate across body parts</li>
                        <li>Use additional wipes as necessary</li>
                    </ul>
                    <p>Implement on scene hood and glove swap program</p>
                </div>
            </div>
        </div>

        <div class="row min-h" *ngIf="module=='module-3' && index=='2'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Reducing Risk: Clean cab concept
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-5 col-sm-12 risk-2">
                    <div class="regular-p">
                        <p>Do not store fire fighting equipment in apparatus cab</p>
                        <p> Store equipment and gear in curbside compartments, if available</p>
                        <p>Clean apparatus cab per department policy and after every fire</p>
                    </div>
                    <div class="boundry m-b-60">
                        <p class="bold-18-font">Avoid cross contaminating personal vehicles and other areas. </p>
                        <p class="bold-18-font"> Do not store or transport exposed gear in personal vehicle!</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="orange-bg">
                                <div class="col-xs-1">
                                    <img src="assets/images/module-3/resource.png" alt="resource" />
                                </div>
                                <div class="col-xs-11">
                                    <button class="read-more pull-right">Read more</button>
                                    <h6>RESOURCE</h6>
                                    <p class="text-white">See clean cab outline and Standard Operating Guideline</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/module-3/concept.png" width="100%" alt="at-scene" />
                    <div class="img-overlay-text">Image from Fire Rescue Magazine’s “Invisible Enemy: Cancer in the fire
                        service and methods to reduce risk” (2018)</div>
                </div>
            </div>
        </div>

        <div class="row min-h" *ngIf="module=='module-3' && index=='3'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Reducing Risk: At the Station
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-6 col-sm-12 meta-analysis-left">
                    <p class="bold-font">Diesel Exhaust Reduction</p>
                    <ul>
                        <li>Open garage doors before starting vehicles</li>
                        <li>Don’t run vehicles in closed bays</li>
                        <li>If possible, keep vehicle 15 – 20 feet away from bay when running</li>
                        <li>Reduce time vehicle operates in bay area</li>
                        <li>If possible, keep bay doors open at least 10 minutes after a vehicle runs in bay</li>
                        <li>Keep doors between the garage and other areas of the fire house closed</li>
                        <li>Store gear away from engines in a separate ventilated room</li>
                        <li>Implement protocols to reduce spread of contaminants at the Station</li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="orange-bg">
                                <div class="col-xs-1">
                                    <img src="assets/images/module-3/resource.png" alt="resource" />
                                </div>
                                <div class="col-xs-11 regular-p">
                                    <button class="read-more pull-right">Read more</button>
                                    <h6>RESOURCE</h6>
                                    <p class="text-white font-normal m-t-20">For the list above and more ideas, see
                                        Controlling Diesel Exhaust Exposure Inside Firehouses publication</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="assets/images/module-3/at-station-1.png" width="100%" height="490" alt="at-scene" />
                </div>
            </div>
        </div>


        <div class="row min-h" *ngIf="module=='module-3' && index=='4'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Reducing Risk: At the Station
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-5 col-sm-12 meta-analysis-left risk-2 p-t-20">
                    <ul>
                        <li>Install engine exhaust removal systems and filters</li>
                        <li>Shower within hour of returning from incident</li>
                        <li>Keep a clean change of clothes/shoes at the station</li>
                        <li>Keep gear away from living quarters</li>
                        <li>Keep lockers located in well ventilated areas</li>
                        <li>Wash gear/contaminated clothing at the station</li>
                        <li>Practice routine gear cleaning in house</li>
                        <li>Schedule professional gear cleaning</li>
                        <li>Keep ice machines and water fountains away from bay area</li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/module-3/at-station-2.png" width="100%" alt="at-scene">
                </div>
            </div>
        </div>

        <div class="row min-h" *ngIf="module=='module-3' && index=='5'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Reducing Risk: Hood / glove swap
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-5 col-sm-12 risk-2">
                    <p class="regular-18-font">Dirty hoods results in increased absorption risk.</p>
                    <p>Need to wash hoods.</p>
                    <p class="regular-18-font"> Hood Swap procedures.</p>
                    <div class="row m-t-50">
                        <div class="col-xs-2">
                            <img src="assets/images/module-3/blocking-hoods.png" alt="blocking-hoods" />
                        </div>
                        <div class="col-xs-10">
                            <p class="bold-18-font">New particulate blocking hoods</p>
                            <p class="font-normal m-t-10">90% particles 0.1 – 1.0 micron</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-xs-2 text-right gear">
                            <img src="assets/images/module-3/bulletin.png" alt="bulletin" />
                        </div>
                        <div class="col-xs-10">
                            <p class="bold-18-font p-t-20">2017 NFPA Bulletin</p>
                        </div>
                    </div>
                    <div class="row m-t-50">
                        <div class="col-sm-6 col-xs-12">
                            <img src="assets/images/module-3/hood.png" alt="hood" />
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <img src="assets/images/module-3/glove.png" alt="glove" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row min-h" *ngIf="module=='module-3' && index=='6'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Reducing Risk: Gear Storage
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-5 col-sm-12 risk-2">
                    <p class="regular-18-font">Bunker gear should be stored in area to reduce exposure to diesel
                        exhaust.</p>
                    <p class="regular-18-font">To reduce exposure to off-gassing, isolate gear when carried in personal
                        vehicles
                    </p>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/module-3/storage.png" width="100%" alt="storage" />
                </div>
            </div>
        </div>


        <div class="row min-h" *ngIf="module=='module-3' && index=='7'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Reducing Risk: Clean Cab Concept
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-5 col-sm-12 meta-analysis-left risk-2 p-t-20">
                    <ul>
                        <li class="regular-18-font">Place firefighter equipment (SCBA, irons, etc) in outside
                            compartments</li>
                        <li class="regular-18-font">Use materials inside/out easy to decontaminate</li>
                        <li class="regular-18-font">Light color interior, non-absorbent materials, vinyl seats not
                            fabric</li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/module-3/cab-concept.png" width="100%" alt="cab-concept" />
                    <div class="img-overlay-text">A clean cab apparatus is an apparatus designed to facilitate a clean,
                        healthy, and safe environment by reducing the exposure to contaminates associated with
                        occupational exposures found in firefighting activities.</div>
                </div>
            </div>
        </div>


        <div class="row min-h" *ngIf="module=='module-3' && index=='8'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Reducing Risk: Clean Cab Concept
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-5 col-sm-12 meta-analysis-left risk-2 p-t-20 regular-p">
                    <ul>
                        <li class="bold-18-font">Smooth Surfaces
                            <p class="regular-font m-t-5">Use as many as smooth surfaces as possible</p>
                        </li>
                        <li class="bold-18-font">Electronics
                            <p class="regular-font m-t-5">Keep electronics as far off the floor as possible</p>
                        </li>
                        <li class="bold-18-font">Non-Porous Materials
                            <p class="regular-font m-t-5">Use non-porous or non absorbent materials wherever possible
                            </p>
                        </li>
                        <li class="bold-18-font">A policy should be in place that allows for the
                            cleaning/decontamination of the cab once per month</li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/module-3/clean-cab.png" width="100%" alt="clean-cab" />
                </div>
            </div>
        </div>


        <div class="row min-h" *ngIf="module=='module-3' && index=='9'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Reducing Risk: Clean up post fire
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-5 col-sm-12 meta-analysis-left risk-2">
                    <p>Upon returning to the fire station</p>
                    <ul>
                        <li class="font-16">Shower within the Hour</li>
                        <li class="font-16">Second set uniform/personal clothing/footwear</li>
                        <li class="font-16">Station washing machines for jumpsuit/uniforms</li>
                        <li class="font-16">Extractor or ISP for cleaning PPE</li>
                    </ul>
                    <div class="row m-t-50 clean-up">
                        <div class="col-xs-6">
                            <img src="assets/images/module-3/timer.png" alt="timer" />
                        </div>
                        <div class="col-xs-6">
                            <img src="assets/images/module-3/machine.png" alt="machine" />
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/module-3/post-fire.png" width="100%" alt="post-fire" />
                </div>
            </div>
        </div>

        <div class="row min-h" *ngIf="module=='module-3' && index=='10'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Risk Reduction: Fire Station
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-5 col-sm-12 meta-analysis-left risk-2">
                    <ul>
                        <li class="font-16">No PPE inside living quarters of fire station</li>
                        <li class="font-16">A/C positive pressure/blowers</li>
                        <li class="font-16">Move ice machines out of bays</li>
                        <li class="font-16">Install hand cleaner stations</li>
                    </ul>
                    <div class="row m-t-50">
                        <div class="col-xs-6 p-t-20">
                            <img src="assets/images/module-3/hands.png" alt="hands" />
                        </div>
                        <div class="col-xs-6 align-right">
                            <img src="assets/images/module-3/no-pipe.png" alt="no-pipe" />
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/module-3/danger.png" class="pull-right" alt="danger" class="fire" />
                </div>
            </div>
        </div>


        <div class="row min-h" *ngIf="module=='module-3' && index=='11'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Tools for Improvement
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-5 col-sm-12 meta-analysis-left risk-2 p-t-20">
                    <ul>
                        <li class="font-16">Post Fire Gross Decontamination Kit</li>
                        <li class="font-16">Decon Standard Operating Guidelines</li>
                        <li class="font-16">Decon Field Operation Guide</li>
                        <li class="font-16">Clean Cab Standard Operating Guidelines</li>
                        <li class="font-16">Extractors</li>
                        <li class="font-16">Second Set of Tear</li>
                        <li class="font-16">Direct Source Capturing Devices</li>
                        <li class="font-16">Half Mask for Driver Operators</li>
                        <li class="font-16">PER Application</li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/module-3/improvement.png" width="100%" alt="improvement" />
                </div>
            </div>
        </div>

        <div class="row min-h" *ngIf="module=='module-4' && index=='1'">
            <div class="scope-head">
                <h1 class="scope-head-h1">Reducing Risks: Organizational Level
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-4/intro">Module 4</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-md-6 col-sm-12 meta-analysis-left risk-2 p-t-20">
                    <p>Firefighter Cancer Initiative FAST-C Survey Findings</p>
                    <ul>
                        <li>Surveyed over 100 Florida firefighters</li>
                        <li>Department size, budget, makeup (volunteer vs career), or location (urban vs rural) do not
                            drive success</li>
                        <li>Factors that support fire departments offering cancer screening activities:
                            <ul>
                                <li>Written policy</li>
                                <li>Dedicated occupational health and safety program</li>
                                <li>Dedicated Health and Safety Officers</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                    <img src="assets/images/module-4/firefightericon.png" alt="FireFighterIcon" />
                    <!--  <span>100+</span>
                    <span>FLORIDA<br/>FIREFIGHTERS<br/>SURVEYED</span> -->
                </div>
            </div>
        </div>

        <div class="row min-h" *ngIf="module=='module-4' && index=='2'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Reducing Risks: Organizational Level
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-4/intro">Module 4</a></p>
                </h1>
            </div>
            <div class="scope-content module-4">
                <ul class="list-unstyled">
                    <li class="font-normal regular-font m-t-5">
                        <img src="assets/images/module-4/florida.png" alt="Florida" />
                        <p>Providing education and resources (e.g. SOGs) for Florida firefighters to reduce cancer risks
                        </p>
                    </li>
                    <li class="font-normal regular-font m-t-5">
                        <img src="assets/images/module-4/washington.png" alt="Washington" />
                        <p>Developed <span class="text-bold"> Healthy In, Healthy Out: Best Practices for Reducing Fire
                                Fighter Risk of Exposures to Carcinogens</span> flip book and video</p>
                    </li>
                    <li>
                        <img src="assets/images/module-4/boston.png" alt="Boston" />
                        <p>Implementing steps to reduce risks (e.g. second set of gear) and developed educational videos
                        </p>
                    </li>
                    <li>
                        <img src="assets/images/module-4/san_antonio.png" alt="San Antonio" />
                        <p>Full bunker gear and SCBAs shall be worn through overhaul operations when products of
                            combustion and/or gases and vapors are present.</p>
                    </li>
                    <li>
                        <img src="assets/images/module-4/jackson_ville.png" alt="jackson_ville" />
                        <p class="text-bold">Shower within the hour</p>
                    </li>
                </ul>
            </div>
        </div>

        <app-previous-next-buttons></app-previous-next-buttons>
    </div>
</div>