<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="primary-body niosh">
    <div class="container">
        <div class="row min-h">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">NIOSH
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-1/intro">Module 1</a></p>
                </h1>
                <p class="sub-title">Firefighter Cancer Study - 2016</p>
            </div>
            <div class="scope-content">
                <div class="col-md-5 col-sm-12 meta-analysis-left">
                    <p>Demonstrated firefighters experienced cancer at a higher rate that the general population.</p>
                    <div class="row d-flex">
                        <div class="col-md-5 col-sm-12 border-orange">
                            <h1 class="percent-niosh">9%</h1><br>
                            <p class="p-b-25">Higher risk of being diagnosed</p>
                        </div>
                        <div class="col-md-6 col-sm-12 border-orange">
                            <h1 class="percent-niosh">14%</h1><br>
                            <p>Higher mortality rate from cancer than the general population</p>
                        </div>
                    </div>
                    <div class="m-t-50">
                        <img src="assets/images/module-1/niosh-logo.png">
                        <p class="m-t-10 f-16 font-normal">Study supported previous research completed over past 20 years.</p>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-6 col-sm-12">
                    <div class="niosh-right-side">
                        <img src="assets/images/module-1/left-niosh.png">
                        <h3 class="text-center">Firefighters are more prone to cancer than the general population</h3>
                        <p class="pull-right"><img src="assets/images/module-1/right-niosh.png"></p>
                    </div>
                </div>
            </div>
        </div>
        <app-previous-next-buttons></app-previous-next-buttons>
    </div>
</div>