<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="primary-body learning-objectives">
    <div>
        <div class="container">
            <div class="row min-h">
                <div class="scope-head m-b-30">
                    <h1 class="scope-head-h1">Learning Objectives
                        <p class="module"><a routerLink="/patient/module-1/intro">Module 1</a></p>
                    </h1>
                </div>
                <div class="learning-objectives-list">
                    <ul>
                        <li>
                            <h2>1</h2>
                            <p class="h8">Define the scope of the cancer burden in the fire service</p>
                        </li>
                        <li>
                            <h2>2</h2>
                            <p class="h8">Identify firefighter occupational cancer risks</p>
                        </li>
                        <li>
                            <h2>3</h2>
                            <p class="h8">Describe cancer risk reduction behaviors and tools</p>
                        </li>
                        <li>
                            <h2>4</h2>
                            <p class="h8">Identify organizational level changes that can help reduce cancer risk</p>
                        </li>
                        <li>
                            <h2>5</h2>
                            <p class="h8">Describe resources to help firefighters diagnosed with cancer</p>
                        </li>
                    </ul>
                </div>
            </div>
            <app-previous-next-buttons></app-previous-next-buttons>
        </div>
    </div>
</div>