<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="video">
    <div class="col-xs-12">
        <div class="container">
            <div class="row min-h">
                <div class="col-xs-12">
                    <!-- <iframe src="https://player.vimeo.com/video/346998513" frameborder="0" allowfullscreen></iframe> -->
                    <div [innerHTML]="iframe_html"></div>
                    <!-- <p class="video-img"><img src="assets/images/module-1/video.png" class="video-img"></p> -->
                </div>
            </div>
            <app-previous-next-buttons></app-previous-next-buttons>
        </div>
    </div>
</div>