<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="primary-body occupational">
    <div class="container">
        <div class="row min-h">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Occupational Exposure
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-2/intro">Module 2</a></p>
                </h1>
                <p class="sub-title">Soot and Soot particles</p>
            </div>
            <div class="scope-content occupational">
                <div class="col-md-6 col-sm-12">
                    <div class="occupational-left">
                        <img src="assets/images/module-2/occupation-1.png" width="100%" alt="not found">
                        <span class="numbers">1</span>
                        <p class="text-bold">If not removed, contaminated exterior surfaces and inner layers of a firefighter’s PPE can result in exposure well after the fire.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="white">
                        <div class="row flex-full m-b-40">
                            <div class="col-xs-6">
                                <div class="occupational-right">
                                    <img src="assets/images/module-2/occupation-3.png" width="100%" alt="not found">
                                    <span class="numbers">2</span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="occupational-right">
                                    <p class="text-bold">Neck area is one of the most likely areas to become contaminated.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row flex-full">
                            <div class="col-xs-6">
                                <div class="occupational-right pl-30">
                                    <p class="text-bold">Children being exposed to soot particles on our gear.</p>
                                    <ul>
                                        <li>At home</li>
                                        <li>Demos</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="occupational-right">
                                    <img src="assets/images/module-2/occupation-2.png" width="100%" alt="not found">
                                    <span class="numbers">3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-previous-next-buttons></app-previous-next-buttons>
    </div>
</div>