<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="primary-body niosh">
    <div class="container">
        <div class="row min-h" *ngIf="module=='module-3' && index=='1'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Tools for Improvement
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content box-shadow">
                <img src="assets/images/module-3/improvement-2.png" width="100%" alt="improvement">
            </div>
        </div>

        <div class="row min-h" *ngIf="module=='module-3' && index=='2'">
            <div class="scope-head m-b-20">
                <h1 class="scope-head-h1">Case Study: What can be done differently?
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content col-md-12 case-study">
                <p>At the station, a firefighter arrives to his shift and soon after walks to get
                    some ice for a glass of water from the ice machine in the bay area. As the firefighter returns to
                    the living quarters, the doors to the bay area are left open.
                    While the fire fighter is discussing recent procedural changes with the team, a call is received.
                    The team then prepares to answer the call. While the team finishes up, the engine is turned on
                    before bay doors are open to help save
                    some time. Once the team is ready and on the truck, they depart the station in route to the scene.
                </p>
                <p>
                    At the scene, the team dons gear properly and begins fire suppression activities. During fire
                    suppression, team members are pulled from the fire to rehab. Once fire suppression activities are
                    completed, the team then performs overhaul. Because the air
                    is visibly clear, SCBA is removed during overhaul procedures. After completing overhaul, the team
                    doffs gear and places the gear in the engine cab for the ride back to the station. </p>
                <p>When the team arrives at the station, gear is placed in lockers in the bay area and the
                    team then heads to the living quarters to rest as they wait for the next call.</p>
            </div>
        </div>

        <div class="row min-h" *ngIf="module=='module-3' && index=='3'">
            <div class="scope-head m-b-30">
                <h1 class="scope-head-h1">Case Study: What can be done differently?
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-3/intro">Module 3</a></p>
                </h1>
            </div>
            <div class="scope-content">
                <div class="col-xs-12 scope-mob">
                    <div class="row m-b-30">
                        <div class="col-sm-6 col-xs-12">
                            <div class="col-sm-4 col-xs-12">
                                <img src="assets/images/module-3/door.png" alt="Doors" width="100%" class="img-mob" />
                            </div>
                            <div class="col-sm-8 col-xs-12 regular-18-font">
                                Doors between bay area and living quarters should always remain closed to avoid
                                contaminating living quarters with diesel exhaust or other toxins
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="col-sm-4 col-xs-12">
                                <img src="assets/images/module-3/baydoors.png" alt="BayDoors" width="100%" class="img-mob"/>
                            </div>
                            <div class="col-sm-8 col-xs-12 regular-18-font">
                                Bay doors should be open before starting engine to allow for proper ventilation.
                            </div>
                        </div>
                    </div>

                    <div class="row m-b-30">
                        <div class="col-sm-6 col-xs-12">
                            <div class="col-sm-4 col-xs-12">
                                <img src="assets/images/module-3/hands.png" alt="Decontamination"  width="100%" class="img-mob"/>
                            </div>
                            <div class="col-sm-8 col-xs-12 regular-18-font">
                                Firefighters should be careful to complete some kind of decontamination prior to
                                hydrating to avoid accidentally ingesting toxins.
                            </div>
                        </div> 
                        <div class="col-sm-6 col-xs-12">
                            <div class="col-sm-4 col-xs-12">
                                <img src="assets/images/module-3/scba-1.png" alt="SCBA"  width="100%" class="img-mob"/>
                            </div>
                            <div class="col-sm-8 col-xs-12 regular-18-font">
                                SCBA should be worn during overhaul. Even though the air may appear clear, it may still
                                contain toxins.
                            </div>
                        </div>
                    </div>

                    <div class="row m-b-30">
                        <div class="col-sm-6 col-xs-12">
                            <div class="col-sm-4 col-xs-12">
                                <img src="assets/images/module-3/decontamination.png" alt="Decontamination" width="100%" class="img-mob" />
                            </div>
                            <div class="col-sm-8 col-xs-12 regular-18-font">
                                Post fire on-scene gross decontamination should be completed.
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="col-sm-4 col-xs-12">
                                <img src="assets/images/module-3/scba-2.png" alt="SCBA"  width="100%" class="img-mob"/>
                            </div> 
                            <div class="col-sm-8 col-xs-12 regular-18-font">
                                SCBA should be worn during overhaul. Even though the air may appear clear, it may still
                                contain toxins.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row min-h" *ngIf="module=='module-5' && index=='1'">
            <div class="scope-head">
                <h1 class="scope-head-h1">Additional Resources
                    <p class="module">&nbsp;&nbsp;<a routerLink="/patient/module-5/intro">Module 5</a></p>
                </h1>
            </div>
            <div class="scope-content acknowledgements">
                <div class="col-xs-12 meta-analysis-left risk-2 p-t-20">
                    <ul>
                        <li class="regular-18-font">Firefighter Cancer Initiative</li>
                        <li class="regular-18-font">International Association of Firefighters</li>
                        <li class="regular-18-font">Florida Firefighters Safety and Health Collaborative</li>
                        <li class="regular-18-font">Firefighter Cancer Support Network</li>
                        <li class="regular-18-font">National Fire Protection Association</li>
                    </ul>
                </div>
            </div>
        </div>

        <app-previous-next-buttons [nextButtonText]="nextButtonText"></app-previous-next-buttons>

    </div>
</div> 