<div class="inner-content">
    <!-- <app-inner-page-header page_title="About Us" back_link="/home" back_title="Home"></app-inner-page-header> -->
    <app-inner-page-header page_title="About Us"></app-inner-page-header>
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

    <div class="container p-b-50">
        <div class="row">
            <div class="col-xs-12">
                <div class="c-primary p-b-20 h4">Welcome to FCI!</div>
                <!-- <p class="h6 p-b-20">FCI an online program designed to address the unique needs of persons like you: gay and bisexual men and trans women who are HIV+ cancer survivors.</p>
                <p class="p-b-20">FCI (Stress- and Self-Management and Relaxation Training) incorporates strategies adapted from cognitive behavioral stress management (CBSM). By joining the FCI program, you will learn skills to manage both health-related stress and more
                    routine, day-to-day stress. Our goal is to help you cope better with all aspects of managing cancer and HIV.</p>
                <p class="p-b-20">Our Principal Investigator is Dr. Frank Penedo. <a href="http://www.mss.northwestern.edu/faculty/profile.html?xid=24719">Click here</a> to learn more about Dr. Penedo and his work.  </p>
                <p>The Co-Principal Investigator is Dr. Brian Mustanksi. <a href="http://www.feinberg.northwestern.edu/faculty-profiles/az/profile.html?xid=21899">Click
						here</a> to learn more about Dr. Mustanksi and his work.</p> -->
                <p class="p-b-20">The Firefighter Cancer Initiative (FCI) was launched in 2015 through a state of Florida appropriation. The primary goals of FCI are to better document and understand the excess burden of cancer among Florida firefighters, and identify
                    novel, evidence-based methods for reducing risk. The initiative is led by a multidisciplinary team of scientists, healthcare practitioners and occupational health and safety experts and uses community engaged approaches to ensure that
                    firefighters’ voice and occupational experience is reflected throughout all aspects of program planning and implementation.</p>

            </div>
        </div>
    </div>
    <div class="container-fluid about-bottom">
        <div class="container">
            <div class="row p-t-40 p-b-40">
                <div class="col-md-4 col-sm-5">
                    <p class="p-b-20">People Involved in the project:</p>
                    <ul class="filled-bullet">
                        <li>Natasha Schaefer Solle, PhD, RN</li>
                        <li>Frank Penedo, PhD</li>
                        <li>Cynthia Beaver, MPH</li>
                        <li>Vandana D. Sookdeo, MD</li>
                        <li>Erin Kobetz, PhD, MPH</li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-7">
                    <div>
                        <img class="img-responsive img-center" src="assets/images/about_us.jpg" width="100%" alt="aboutus">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>