<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="landing-page">
    <div class="landing-content">
        <div class="container">
            <div class="center-content">
                <div class="text-center">
                    <img src="assets/images/landing-logo.png" alt="Landing">
                </div>
                <div class="choose-option signin-bg">
                    <div class="h3 text-center">Please choose the site you'd like to visit today</div>
                    <div class="text-center">
                        <div class="form-group col-md-4 col-sm-5 col-xs-12 btn-signin-block">
                            <button class="btn btn-green btn-block" routerLink="/patient/dashboard">Cancer Survivorship</button>
                        </div>
                        <p class="or">Or</p>
                        <div class="form-group col-md-4 col-sm-5 col-xs-12 btn-signin-block">
                            <button class="btn btn-green btn-block" routerLink="/patient/module-1/intro">Cancer Education</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>