<app-inner-page-header [isHidden]="!0"></app-inner-page-header>
<div class="video">
    <div>
        <div class="container">
            <div class="row min-h">
                <div class="scope-head m-b-30">
                    <h1 class="scope-head-h1">Firefighter Cancer Risk
                        <p class="module"><a routerLink="/patient/module-1/intro">Module 1</a></p>
                    </h1>
                    <p class="sub-title">Florida 2019</p>
                </div>
                <div class="col-xs-12 bg-white p-b-20">
                    <img src="assets/images/module-1/cancer-risk.jpg" alt="Firefighter Cancer Risk" width="100%" />
                    <p class="m-t-20 regular-font color-light"> Florida Fighter Firefighter Cancer Registry. <a class="text-bold" href="http://www.sylvester.org/firefighters" target="_blank">www.sylvester.org/firefighters</a></p>
                </div>
            </div>
            <app-previous-next-buttons></app-previous-next-buttons>
        </div>
    </div>
</div>