<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Privacy Policy" back_link="/home" back_title="Home"></app-inner-page-header>
    <div class="container terms-conditions">
        <div class="row">
            <div class="col-xs-12 p-b-20">

                <p>Sed congue nulla vel nibh laoreet lobortis. Mauris fringilla viverra orci, eu interdum ipsum ullamcorper eu. Quisque aliquam quis leo vitae fringilla. Phasellus mi lacus, molestie non neque sit amet, convallis dignissim ipsum. Proin ut
                    libero accumsan libero accumsan dictum sed sit amet est. Nulla sit amet nulla eu nisl eleifend consectetur.</p>
                <p>Suspendisse et ornare mi. Donec faucibus pulvinar sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc gravida, mi quis mattis auctor, lorem ligula tempus mauris, eget dignissim mi nibh
                    nec nibh. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed id mi ac elit posuere tincidunt in ut arcu. Ut non nulla ut felis tristique luctus. Sed cursus, leo non euismod
                    porta, metus purus dapibus urna, sit amet dignissim augue turpis eu diam.</p>
                <p>Phasellus id dapibus massa. Donec a sodales odio, eget rutrum sapien. Aenean convallis leo id augue ullamcorper ullamcorper. Aliquam ac metus id diam iaculis laoreet et non erat. Etiam metus erat, scelerisque non quam vel, molestie gravida
                    lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas pulvinar venenatis dui, nec vehicula sem varius non. Etiam non placerat nunc. Nam ut pretium ligula, et varius ipsum.</p>

            </div>
        </div>
    </div>
</div>